@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
*{    font-family: "Pretendard Variable", Pretendard,  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: background-color 0.3s ease;
    z-index: 1000;
    padding: 10px 20px;
}
.header-logo span,.footer-logo span{
    cursor:pointer;
    width:150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    padding:0 20px;
}

nav ul li span,nav ul li a {
    display:block;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor:pointer;
}

nav.transparent {
    background-color: rgba(255, 255, 255, 0.4);
}
.body-wrap{
    position:relative;
    background-image: url('../img/main_bg2.png'); /* 여기에 이미지 경로를 입력하세요 */
    background-size: auto; /* 이미지를 화면 전체에 걸쳐 보이게 합니다 */
    background-position: top; /* 이미지를 가운데 정렬합니다 */
    background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정합니다 */
}
.content-wrap{
    margin:84px 0;
    padding:30px;
    display:flex;
    justify-content: space-between;
    color:#fff;
}
.content-left{
    width:55%;
    padding:120px 30px;
    font-size:46px;
   
}
.content-left h2 {
    font-weight:100;
}
.content-right{
    width:55%;
    display:flex;
    flex-direction: column;
    padding:50px 10px;
    font-size:18px;
}
.link {display:inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: color 300ms; /* 텍스트 색상 변경에 대한 트랜지션 */
}

.link::after {
    content: '';
    position: absolute;
    width: 0; /* 초기 너비 0 */
    height: 2px; /* 라인의 두께 설정 */
    bottom: 0;
    left: 0;
    background-color: #fff; /* 라인의 색상 */
    transition: width 300ms ease-in-out; /* 너비 변화에 대한 트랜지션 */
}

.link:hover::after {
    width: 100%; /* 호버 시 라인이 전체 너비로 확장 */
}

.link-wrap p{padding:2px 0;}

footer {
    background-color: rgba(0, 0, 0, 0); /* 반투명 배경 (검은색 50% 투명도) */
    padding:20px;
    text-align: center;
}
.footer-logo{
    display:flex;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer ul li {
    color:#0000006b;
    font-size:14px;
}

footer ul li.footer-content ul {
    list-style-type: none;
    padding: 0;
}
.footer-contact ul{
    display:flex;
    flex-direction: column;
    text-align:start;
}
.address{
    color:#fff;
    margin-left:14px;
    text-align: start;
    flex-direction: column;
    align-items: flex-start
}
footer a {
    color: white; /* 링크 색상을 흰색으로 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

footer a:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 표시 */
}

/*  */
/* 모달창 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition:400ms;
    opacity: 1;
    display: flex;
}

.modal.visible {

}

.modal-content {
    color:#000;
    font-size:14px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); */
    position: relative;

}
.modal-content h1{
    font-weight:300;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}